#btnLogin {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color:       linear-gradient(white, white );
      -fx-border-color: lightblue;
}

#btnLogin:hover{
    -fx-background-color:       linear-gradient(lightblue, white );
      -fx-border-color: white;
}